{%  extends 'main.html' %}
{% block content %}
{% load static %}
{% load extra %}
{% load custom_tags %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<form action="" class="post-form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container">
        <br>
        <center><h3>Change password</h3></center>
        <br>
        {{ form.management_form }}

      {{form.as_p}}


        <center>
            <button class="btn btn-primary" id="submit1" type="submit">Submit</button>
        </center>
    </div>
</form>
</body>

{% endblock %}